{% extends "base.html" %}

{% block content %}
<style>
    .table-container {
        display: flex;
        justify-content: center;
        width: 100%; /* Full width of the container */
    }
    table {
        border-collapse: collapse;
        width: 60%; /* Adjust the width as needed */
        max-width: 600px; /* Set a maximum width to avoid too large tables */
        margin: 20px auto; /* Center the table horizontally */
        text-align: center; /* Center text in the table cells */
    }
    td {
        padding: 10px;
        border: 1px solid black; /* Optional: for visual separation */
    }
</style>

<h2> DEV PAGE</h2>
<br>
<p>All registered users: </p>
<a class="w-32 ml-10 h-12 bg-pink-600 rounded-md outline-none border-none shadow-md shadow-black"href="/logout">Logout</a>

<div class = "table-container">
    <table>
        <tr>
            <td>
                <b>Username</b>
            </td>
            <td>
                <b>User_Type</b>
            </td>
            <td>
                <b>Phone No</b>
            </td>
            <td>
                <b>Email</b>
            </td>
            <td>
                <b>Address</b>
            </td>
            <td>
                <b>Action</b>
            </td>
        </tr>
        {% for user in all_users %}
        {% if user.username != 'admin' %}
        <tr>
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.user_type}}
            </td>
            <td>
                {{user.phone_no}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.address}}
            </td>
            <td>
                <form action="{{url_for('routes.dev_user_delete', user_id = user.id)}}">
                    <button type = "submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<br>
<p>All Orders: </p>

<div class = "table-container">
    <table>
        <tr>
            <td>
                <b>ID</b>
            </td>
            <td>
                <b>Items</b>
            </td>
            <td>
                <b>Amount</b>
            </td>
            <td>
                <b>Status</b>
            </td>
            <td>
                <b>Action</b>
            </td>
        </tr>
        {% for order in all_orders %}
        <tr>
            <td>
                {{order.id}}
            </td>
            <td>
                {{order.item}}
            </td>
            <td>
                {{order.amount}}
            </td>
            <td>
                {{order.status}}
            </td>

            <td>
                <form action="{{url_for('routes.dev_order_delete', order_id = order.id)}}">
                    <button type = "submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}